body {
    font-family: 'Source Code Pro', monospace;
    background-color: #fef4ed;
    color: #10263b;
}

/*
    NAVIGATION BAR 
*/
.navbar {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.navbar-nav {
    float: right;
}

.navbar a {
    padding: 2px;
    color: black !important;
}

.navbar a:hover, .nav-link:hover {
    background-color: #ff8878;
    color: white !important;
}

a.active {
    color: #ff8878 !important;
}

/* 
    HEADER 
*/
.jumbotron {
    background: transparent;
    padding-left: 50px;
    padding-right: 50px;
}

.bg {
    z-index: -1;
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation 1.5s infinite;
    opacity: .9;
    visibility: visible;
  }
  
  @keyframes bg-animation {
      0% { transform: translate(0,0) }
      10% { transform: translate(-5%,-5%) }
      20% { transform: translate(-10%,5%) }
      30% { transform: translate(5%,-10%) }
      40% { transform: translate(-5%,15%) }
      50% { transform: translate(-10%,5%) }
      60% { transform: translate(15%,0) }
      70% { transform: translate(0,10%) }
      80% { transform: translate(-15%,0) }
      90% { transform: translate(10%,5%) }
      100% { transform: translate(5%,0) }
}

/*
    CONTENT
*/

#project {
    padding-left: 50px;
    padding-right: 50px;
}

#content {
    margin-left: 15%;
}

@media screen and (max-width: 768px) {#content {flex-direction: column;} }

.icon {
    width: 100%;
    float: left;
    max-width: 400px;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    top:0;
}