/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Karla&family=Roboto+Mono:wght@300;400&display=swap');

/* SETTING MAIN STYLE */
html, body {
    font-family: Karla, sans-serif;
    margin: 1rem 3rem;
    background-color: whitesmoke;

    /* no text highlight; code from stackoverflow */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */

}

body {
    background-color: transparent;
}

/* NAVIGATION */
nav {
    display: flex;
    padding-top: 0.5rem;
}
nav div.home {
    margin-top: -0.1rem;
    flex-grow: 1;
}

/* NAVIGATION LINKS */
nav div a { 
    margin: 1rem 0.4rem; 
    font-size: 1.2rem;
    text-decoration: none; 
    color: black; 
    padding: 0.2rem;
}
nav div a.active {
    color: blue;
}
nav div a:hover {
    text-decoration: none;
    color: whitesmoke;
    background-color: blue;
    padding: 0.2rem;
}
nav div.home a, nav div.home a:hover {
    padding-bottom: 0.15rem;
}

/* HEADER */
header {
    margin: 4rem 0.5rem 1rem;
}
.intro {
    font-family: Lora, serif;
    font-style: italic;
    font-size: 2.6rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.intro span {
    color:blue;
}
header h2 {
    margin-top: 0rem;
    font-size: 1.5rem;
    font-weight: 300;
}
header p {
    margin-top: .5rem;
    font-size: 1.2rem;
}
header img {
    float: left;
    margin: 0.1rem 1rem 0rem 0.55rem;;
}

/* MAIN CONTENT */
main {
    margin: 3rem 0.5rem 0.5rem;
}
h2.ctitle {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 500;
    font-family: Lora, serif;
    font-style: italic;
    color: blue;
}
div.item {
    margin: 2rem 0rem;
    display: flex;
}
div.desc {
    flex-grow: 1;
}
div.desc, div.pdate {
    padding: 0.5rem 1rem;
    
}
.pdate h3 {
    margin-top: 0.7rem;
    margin-left: 2rem;
    margin-right: 0.5rem;
    font-size: 1.8rem;
    font-weight: 200;
}
.desc h3 {
    margin: 0rem;
    font-family: Lora, serif;
    font-style: italic;
    font-size: 2.5rem;
    font-weight: 400;
}
.desc p {
    margin-top: 0.8rem;
    font-size: 1.2rem;
}
.desc img {
    width: 12rem;
    float: right;
    margin: 1rem;
    margin-right: 5rem;
}
a.redirect {
    margin-top: 2rem;
    margin-bottom: 0rem;
    margin-left: 2rem;
    padding: 0.4rem;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;

    border: 0.2rem solid blue;
    color: blue;
    box-shadow: 0.5rem 0.4rem blue;
    
}
a.redirect:hover {
    color: whitesmoke;
    border-color: whitesmoke;
    box-shadow: none;
    background-color: blue;
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
    html, body {margin: 1rem 1rem;}

    nav div a {font-size: 1rem; margin: 1rem 0.2rem; }
    header {text-align: center;  margin-top: 2.2rem;}
    .intro {font-size: 1.6rem; margin-top: 0.5rem; margin-bottom: 0.5rem;}
    header h2 {font-size: 1rem; margin: 0rem .5rem;}
    header img {float: none;}
    header p {font-size: 1rem; text-align: left;}
    span.decoration {letter-spacing: 0.25rem;}

    h2.ctitle {font-size: 1.8rem;}
    div.item {margin: 1.5rem 0rem;}
    .pdate {display: none;}
    .desc {text-align: center;}
    .desc h3 {font-size: 1.5rem;}
    .desc p {font-size: 1rem;}
    .desc img {float: none; display: block; width: 10rem; margin:0rem 5rem;}
    a.redirect {margin-left: 0rem; margin-top: 1rem; font-size: 1rem;}
}


/* STATIC BACKGROUND */
.bg {
    z-index: -1;
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation 1.5s infinite;
    opacity: .9;
    visibility: visible;
  }
  
  @keyframes bg-animation {
      0% { transform: translate(0,0) }
      10% { transform: translate(-5%,-5%) }
      20% { transform: translate(-10%,5%) }
      30% { transform: translate(5%,-10%) }
      40% { transform: translate(-5%,15%) }
      50% { transform: translate(-10%,5%) }
      60% { transform: translate(15%,0) }
      70% { transform: translate(0,10%) }
      80% { transform: translate(-15%,0) }
      90% { transform: translate(10%,5%) }
      100% { transform: translate(5%,0) }
}

